.ticket-details-page{
  padding-left:30px;
  padding-top:60px;
  height: 100%;
}

.ticket-container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  max-height: 800px;
  overflow-y: auto;
}

.ticket-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
}

.ticket-header p{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #8f8f8f;
  margin-bottom: 20px;
  width: 100%;
}

.ticket-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-height: 540px;
  overflow-y: auto;
}

.ticket-info {
  flex: 1;
  margin: 15px;
}

.ticket-info p {
  padding-bottom:0px;
}

.ticket-info strong {
  font-size:14px;
  font-weight: bold;
  padding-bottom:0px;
  color: #999898;
}

.ticket-info h5 {
  margin:0;
  font-size:15px;
  padding-top:2px;
  color: #000000;
}

.status {
  display: inline-block;
  color: white;
  padding: 4px 10px;
  border-radius: 4px;
  font-size: 12px;
}

.status.not_assigned { background: red; }
.status.assigned { background: orange; }
.status.resolved { background: green; }

.ticket-updates {
  flex: 1;
  margin: 15px;
  max-height: 480px;
  overflow-y: auto;
}

.ticket-updates p {
  padding-bottom:0px;
  font-size: 16px;
}

.ticket-updates strong {
  font-size:14px;
  font-weight: bold;
  padding-bottom:0px;
  color: #999898;
}

.ticket-updates h5 {
  margin:0;
  font-size:15px;
  padding-top:2px;
  color: #000000;
}

.update-note {
  font-size: 14px;
  color: #666;
  font-style: italic;
  margin-bottom: 10px;
}

.add-notes-btn {
  background-color: #e48a74;
  border: none;
  padding: 8px 12px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}

.add-notes-btn:hover {
  background-color: #C15E48;
}

.attachment-box {
  width: 100%;
  height: 100px;
  background: #f7f7f7;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  padding:10px 0px;
}

.attachment-box img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 6px;
}

.ticket-actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.assign-btn {
  background-color: #d1846e;
  border: none;
  padding: 10px 15px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  margin-right: 10px;
}

.assign-btn:hover {
  background-color: #C15E48;
}

.resolve-btn {
  border:3px solid #bfbfbf;
  padding: 10px 15px;
  color: black;
  font-size: 14px;
  cursor: pointer;
  background:none;
 
}

.resolve-btn:hover {
  background-color: #bfbfbf;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.modal select {
  margin: 10px 0;
  padding: 5px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.modal-buttons button {
  padding: 8px 15px;
  cursor: pointer;
}

.modal-buttons button:disabled {
  background: gray;
  cursor: not-allowed;
}

.location-map {
  margin: 10px 0 20px 0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


@media (max-width: 414px) {
  .ticket-details-page{
    padding-left:0px;
  }

  .ticket-title {
    padding-left:30px;
  }

  .ticket-container {
    margin: 20px;
    padding: 15px;
    max-height: 600px;
    overflow-y: auto;
  }

  .ticket-actions {
    display: flex;
    justify-content: bottom;
    margin-top: 20px;
    margin-bottom:20px;
  }

  .ticket-info{
    margin-bottom:0;

  }

  .ticket-updates{
    margin-top:0;
    max-height: fit-content;
    overflow-y:unset;
  }

  .ticket-content {
    display: flex;
    max-height: 550px;
    overflow-y: auto;
    flex-direction: column;
    gap: 0;
  }

  .ticket-details-page .back-btn{
    margin-left: 20px;
  }

  .ticket-details-page .page-title{
    margin-left: 20px;
  }
}