.tickets-page {
    display: flex;
  }

.tickets-page .content {
  flex: 1;
  padding-top: 60px; /* Adjust to match the top bar height */
  padding-left: 30px;
  padding-right: 30px;
} 

.search-bar {
display: flex;
gap: 10px;
margin-bottom: 20px;
}

.search-bar input {
padding: 10px;
flex: 1;
border: 1px solid #ccc;
border-radius: 5px;
}

.search-bar select {
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

/* Add New Asset Button */
.create-ticket-button {
  background-color: #d18473;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
  align-items: center; /* Center text */
  text-decoration: none;
}

.create-ticket-button:hover {
  background-color: #C15E48;
}

.filter-buttons button {
padding: 10px 20px;
margin-right: 10px;
border: none;
background-color: #e5e5e5;
border-radius: 20px;
cursor: pointer;
}

.filter-buttons .active {
background-color: #017575;
color: white;
}

.tickets-list {
margin-top: 20px;
max-height: 550px; /* Adjust height as needed */
overflow-y: auto;
padding-right: 10px; /* Prevents content from being hidden under scrollbar */
}

.ticket-card {
background-color: white;
padding: 15px 20px;
margin-bottom: 15px;
border-radius: 10px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ticket-header {
display: flex;
align-items: center;
gap: 10px;
}

.orange-dot { color: orange; }
.green-dot { color: green; }
.red-dot { color: red; }


.ticket-title {
font-weight: bold;
margin: 10px 0;
}

.ticket-status, .ticket-time {
font-size: 14px;
color: gray;
}

.view-ticket {
color: #017575;
text-decoration: none;
font-weight: bold;
}

.view-ticket:hover {
  color: #4FD1C5;
}


/* Responsive Design for iPhone 13 */
@media screen and (max-width: 391px) {
.filter-buttons button {
  font-size: 14px;
  padding: 10px 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: none;
  background-color: #e5e5e5;
  border-radius: 20px;
  cursor: pointer;
  }
  
  .filter-buttons .active {
  background-color: #017575;
  color: white;
  }

}