/* index.css */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f7f9;
}

.app-container {
  display: flex;
  height: 100vh; /* Full viewport height */
  width: 100%;
  overflow: hidden; /* Prevents scrolling of the container itself */
}

.page-header {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 18px;
}

.topbar {
  position: fixed;
  top: 0;
  left: 200px; /* Adjust based on sidebar width */
  right: 0;
  height: 60px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.sidebar {
  width: 200px;
  background-color: #004d4d;
  color: white;
  padding: 20px 0;
  transition: transform 0.3s ease; /* Smooth transition for hiding */
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 30px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  transition: background-color 0.3s;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 15px 20px;
  cursor: pointer;
}

.sidebar li.active, .sidebar li:hover {
  background-color: #017575;
  border-radius: 5px;
}

.content {
  flex: 1;
  padding: 0;
}

.dashboard-page .content {
  flex: 1;
  padding-top: 60px; /* Adjust to match the top bar height */
  padding-left: 30px;
  padding-right: 30px;
}

.pagination {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}


/* Hamburger Icon */
.hamburger {
  display: none;
  font-size: 26px;
  cursor: pointer;
  margin-right: auto;
  padding: 10px;
}

/* Sidebar Sliding Panel */
.sidebar.open {
  display: block;
  position: fixed;
  top: 60px;
  left: 0;
  width: 200px;
  height: calc(100vh - 60px);
  background-color: #004d4d;
  z-index: 999;
  padding: 20px 0;
  transition: transform 0.3s ease-in-out;
}

/* Media Query for iPhone 13 and smaller devices (max-width: 390px) */
@media (max-width: 391px) {
  /* Hide Sidebar */
  .sidebar {
    display: none;
  }

  /* Adjust top bar */
  .topbar {
    left: 0;
    right: 0;
    padding: 0 10px;
  }

  .hamburger {
    display: block;
    color: #004d4d;
    font-weight: bold;
  }

  /* Overlay when sidebar is open on mobile */
.sidebar-overlay {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 998;
}
}