.hide-layout .sidebar,
.hide-layout .topbar {
  display: none !important;
}

/* Center the login page */
.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #004d4d;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'Arial', sans-serif;
  }

.login-container {
  background-color: white;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px;
}

h1 {
  font-size: 24px;
  color: #333;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.login-button {
  background-color: #f48c06;
  color: white;
  border: none;
  padding: 10px 15px;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #e07b00;
}

.contact-text {
  margin-top: 15px;
  font-size: 12px;
  color: gray;
}
